image: registry.gitlab.com/nibrunie/metalibm:new_ml_ci_image

before_script:
  - python3 --version
  - pip3 install git+https://github.com/nibrunie/asmde
  - pip3 install pyyaml
  - pip3 install pylint
  # papi is now installed within CI docker image
  # - apt install -y libpapi-dev

core_unit_test_py3:
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - PYTHONPATH=$PWD:$PYTHONPATH ML_SRC_DIR=$PWD python3 -m unittest discover metalibm_core/tests -p "ut_*.py" -v

soft_unit_tests_py3:
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - PYTHONPATH=$PWD:$PYTHONPATH ML_SRC_DIR=$PWD python3 valid/soft_unit_test.py --debug

rtl_unit_tests_py3:
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - export PYTHONPATH=/app/local/python3/
    - PYTHONPATH=$PWD:$PYTHONPATH ML_SRC_DIR=$PWD python3 valid/rtl_unit_test.py --debug

non_regression_py3:
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - export PYTHONPATH=/app/local/python3/
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python3 valid/non_regression.py --debug

rtl_regression_py3:
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - export PYTHONPATH=/app/local/python3/
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python3 valid/hw_non_regression.py --debug

reduced_python2_test:
  allow_failure: true
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python2.7 valid/soft_unit_test.py
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python2.7 valid/rtl_unit_test.py
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python2.7 valid/non_regression.py
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python2.7 valid/hw_non_regression.py

determinism_py3:
  script:
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python3 metalibm_functions/ml_exp.py --output test_exp.c
    - cp test_exp.c test_exp0.c
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python3 metalibm_functions/ml_exp.py --output test_exp.c
    - cp test_exp.c test_exp1.c
    - diff test_exp0.c test_exp1.c

lint:
    stage: test
    allow_failure: true
    script:
        - pylint metalibm_core/

pages:
  stage: deploy
  only:
    refs:
        - master
  script:
    # setting environment so sollya import succeed
    - export PATH=/home/ghdl/bin:$PATH
    - export LD_LIBRARY_PATH=/usr/local/lib/:/home/ghdl/lib/
    # auto doc
    - ./doc/generate_doc.sh
    - mkdir -p ./public/doc/
    - cp -r ./doc/sphinx/build/html/* ./public/doc/
    # soft coverage report
    - mkdir -p ./public/perfs/
    - PYTHONPATH=$PWD:$PYTHONPATH  ML_SRC_DIR=$PWD python3 valid/soft_coverage_test.py --exclude libm,ml_tanh --report-only --output public/perfs/report.${CI_COMMIT_REF_NAME}.html
  artifacts:
    paths:
    - public/
