[submodule "metalibm-lugdunum-functions"]
	path = metalibm_functions
	url = https://gforge.inria.fr//metalibm/metalibm-lugdunum-functions.git
[submodule "metalibm-lugdunum-core"]
	path = metalibm_core
	url = https://gforge.inria.fr/metalibm/metalibm-lugdunum-core.git
